.take-icon{
    margin-left: -8px;
}
.take-icon img{
    width: 20px; height: 20px;
}
.color-pop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    max-width: 170px;
    margin-left: 5px;
  }
  .colorButtton {
    margin-right: 1px;
    white-space: 2px;
  }