<div class="maincontainer" >
    <div class="take-icon" fxLayoutGap="15px">
    <img src="..\assets\takenote\add_alert_black_24dp.svg">
    <img src="..\assets\takenote\person_add_alt_black_24dp.svg">
    <img src="..\assets\takenote\palette_black_24dp.svg">
    <img src="..\assets\takenote\insert_photo_black_24dp.svg">
    <img (click)="deleteNote()" src="..\assets\sidenav-icons\archive_black_24dp.svg">
    <img src="..\assets\takenote\more_vert_black_24dp.svg">
    <!-- <img src="..\assets\takenote\undo_black_24dp.svg">
    <img src="..\assets\takenote\redo_black_24dp.svg"> -->
    <!-- <button >close</button> -->
</div>
