.container{
    margin-top:36px;
    padding-left: 25%;
    padding-right: 50%;
}
.container mat-card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}

input{
border: 0px;
width: 440px;
}
input:focus{
    outline: none;
}
// End of start box

.matcard1 .input{
    width: 560px;
    border: 0px;
}
.matcard1 .input{
    outline: none;
    resize: none;
}
.closebtn{
   display: flex;
   justify-content: flex-end;
}
::placeholder{
    color:rgb(90, 85, 85);
    opacity: 1;
    font-size: 16px;
    font-weight: 400;
}

