.mainContainer {
    display: flex;
    justify-content: center;
}

form {
    box-sizing: border-box;
    border: rgba(128, 128, 128, 0.699) 0.5px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
}

.logo {
    margin-top: 0.5cm;
    font-family: monospace;
    font-size: 26px;
    font-weight: 700;
    display: flex;
    justify-content: center;

}

.logo .L1 {
    color: #1A73E8;
}

.logo .L2 {
    color: red;
}

.logo .L3 {
    color: yellow;
}

.logo .L4 {
    color: #1A73E8;
}

.logo .L5 {
    color: green;
}

.logo .L6 {
    color: red;
}

.heading {
    margin-top: 1cm;
    display: flex;
    justify-content: center;
}

.ResetPassword {
    font-size: 25px;
    font-family: Arial;
    font-weight: 100;
}

.Account {
    margin-top: 0.7cm;
    display: flex;
    justify-content: center;
}

.Para1 {
    font-size: 18px;
    font-family: Arial;
    font-weight: 70;

}

.password {
    margin-top: 0.5cm;
    width: 10cm;
    padding-left: 0cm;
}

.confirm-password {
    margin-top: 0.5cm;
    width: 10cm;
    padding-left: 0cm;
}

.footer-button {
    margin-top: 1cm;
    display: flex;
    justify-content: space-between;
    width: 10cm;
    margin-bottom: 0.5cm;
}

.footer-button .mat-button {
    background-color: white;
    color: #1A73E8;
    font-weight: 600;
    font-size: 15px;
    font-family: Arial;
    padding-left: 0cm;
}

.footer-button .Nextbtn {
    background-color: #1A73E8;
    color: white;
}