<div class="mainContainer">
    <form [formGroup]="resetpasswordForm">
        <div class="logo">
            <span class="L1">F</span>
            <span class="L2">u</span>
            <span class="L3">n</span>
            <span class="L4">d</span>
            <span class="L5">o</span>
            <span class="L6">o</span>
        </div>
        <div class="heading">
            <span class="ResetPassword">Reset Password</span>

        </div>
        <div class="Para1">
            <p class="Account">Welcome in Fundoo Account</p>
        </div>
        <div class="Form-bar">
            <mat-form-field appearance="outline" class="password">
                <mat-label>New password</mat-label>
                <input type="password" matInput formControlName="password" placeholder="New password">
                <mat-error>Password required</mat-error>
            </mat-form-field>
        </div>

        <div class="Form-bar2">
            <mat-form-field appearance="outline" class="confirm-password" id="confirmPassword">
                <mat-label>Confirm password</mat-label>
                <input  type="password" matInput formControlName="confirmPassword" placeholder="Confirm password">
                <mat-error>Password required</mat-error>
            </mat-form-field>
            <div class="checkbox">
                <mat-checkbox (click)="showPassword()" class="box">Show Password</mat-checkbox>
            </div>
        </div>

        <div class=" footer-button">
            <!-- <button mat-button class="creatbtn" routerLink="/login">Sign In</button> -->
            <button (click)="onSubmit()" mat-raised-button class="Nextbtn">Submit</button>
        </div>
    </form>
</div>
