
.main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // width: 100vw;
    // height: 100vh;
    // box-sizing: border-box;
}


h1.app-name {
    margin-left: 8px;
}

.sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    // background-color: mediumaquamarine;
    box-sizing: border-box;
  

}
mat-sidenav {
    width: 20vw;
}

//   search-bar
.searchIcon {
    border-radius: 8px;
    width: 900px;
    margin-left: 3%;
    outline: none;
    border: 1px solid #f1f3f4;
    background-color: #f1f3f4;
}

.search-icon,
.searchInput {
    border: 0px;
    background-color: #f1f3f4;
}

.search-icon,
.searchInput:focus {
    outline: none;
}

.sec-3 {
    margin-left: 30px;
}

.sec-4 {
    margin-left: 80px;
}

.mat-sidenav-container .mat-list-item {
    //    border:2px solid red;
    padding: none;
    background-color: none;
    border-radius: 20px; //-----------------------
    outline: none;

}

.main-sidenavbar {
    cursor: pointer;
    padding: 0px 0px 0px 14px;
}

.main-sidenavbar .Notes,
.Reminders,
.Edit,
.archive,
.Bin {

    // width: 265px;
    padding: 12px;

}

.main-sidenavbar .Reminders:hover {
    background-color: #f1f3f4;
    border-radius: 20px;
}

.main-sidenavbar .Edit:hover {
    background-color: #f1f3f4;
    border-radius: 20px;
}

.main-sidenavbar .Notes:hover {
    background-color: #f1f3f4;
    border-radius: 20px;
}

.main-sidenavbar .archive:hover {
    background-color: #f1f3f4;
    border-radius: 20px;
}

.main-sidenavbar .Bin:hover {
    background-color: #f1f3f4;
    border-radius: 20px;
}


.main-sidenavbar .Reminders:active {
    background-color: pink;
    border-radius: 20px;
}

.main-sidenavbar .Edit:active {
    background-color: pink;
    border-radius: 20px;
}

.main-sidenavbar .Notes:active {
    background-color: pink;
    border-radius: 20px;
}

.main-sidenavbar .archive:active {
    background-color: pink;
    border-radius: 20px;
}

.main-sidenavbar .Bin:focus {
    background-color: pink;
    border-radius: 20px;
}


