<div style="border: 2px solid #f1f3f4;"></div>
<div class="main-container">
    <mat-toolbar class="example-toolbar" style="background-color: white;" >
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="logo">
            <img src="..\assets\keep_2020q4_48dp.png" width="42px" height="46px">
        </div>
        <h1 class="app-name">{{applicationName}}</h1>

        <div class="searchIcon">
            <button mat-icon-button class="search-icon">
                <mat-icon matTooltip="Search">search</mat-icon>
            </button>

            <input class="searchInput" placeholder="search">
        </div>


        <div class="sec-3" fxLayout="row" fxLayoutGap="12px">
            <div class="refresh">

                <button mat-icon-button class="refresh">
                    <mat-icon matTooltip="refresh">refresh</mat-icon>
                </button>

            </div>
            <div class="list-view">
                <button mat-icon-button>
                   
                    <span class="material-icons">splitscreen</span>
                </button>
            </div>
            <div class="setting">
                <button mat-icon-button>
                    <span class="material-icons">settings</span>
                </button>
            </div>
        </div>


        <div class="sec-4" fxLayout="row" fxLayoutGap="12px">

            <div class="Fundoo-app">
                <button mat-icon-button>
                    <span class="material-icons">apps</span>
                </button>
            </div>
            <div class="account-img">
                <button mat-icon-button>
                    <img src="..\assets\round_account_circle_black_24dp.png">
                </button>

            </div>

        </div>
       
    </mat-toolbar> <div style="border: 2px solid #f1f3f4;"></div>


    <mat-sidenav-container class="sidenav-container">

        <mat-sidenav #snav mode="side">
            <mat-nav-list>
                <div class="main-sidenavbar" >
                    <div fxLayoutAlign="row" class="Notes" fxLayoutGap="20px">
                        <img src="..\assets\sidenav-icons\lightbulb_black_24dp.svg" alt="">
                        <div fxHide.xs class= "side-text" mat-list-item routerLink="/dashboard/note">Notes</div>
                    </div>
                    <div fxLayoutAlign="row" class="Reminders" fxLayoutGap="20px">
                        <img src="..\assets\sidenav-icons\notifications_none_black_24dp.svg" alt="">
                        <div fxHide.xs mat-list-item routerLink=".">Reminders</div>
                    </div>

                    <div fxLayoutAlign="row" class="Edit" fxLayoutGap="20px" *ngFor = "let note of labelList">
                        <img src="..\assets\Menu\label_black_24dp.svg"alt="">
                        <div fxHide.xs mat-list-item>{{note.label}}</div>
                    </div>


                    <div fxLayoutAlign="row" class="Edit" fxLayoutGap="20px">
                        <img src="..\assets\sidenav-icons\edit_black_24dp.svg" alt="">
                        <div (click)="openEditLables()" fxHide.xs mat-list-item>Edit lables</div>
                    </div>
                    <div fxLayoutAlign="row" class="archive" fxLayoutGap="20px">
                        <img  src="..\assets\sidenav-icons\archive_black_24dp.svg" alt="">
                        <div  fxHide.xs mat-list-item  routerLink="/dashboard/archive">Archive</div>
                    </div>
                    <div fxLayoutAlign="row" class="Bin" fxLayoutGap="20px">
                        <img src="..\assets\sidenav-icons\delete_black_24dp.svg" alt="">
                        <div fxHide.xs mat-list-item routerLink="/dashboard/trash">Bin</div>
                    </div>
                </div>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
            </mat-sidenav-content>
    </mat-sidenav-container>
</div>