<div class="mainContainer">
    <form [formGroup]="loginForm">
        <div class="logo">
            <span class="L1">F</span>
            <span class="L2">u</span>
            <span class="L3">n</span>
            <span class="L4">d</span>
            <span class="L5">o</span>
            <span class="L6">o</span>
        </div>
        <div class="heading">
            <span class="sign-in">Sign in</span>

        </div>
        <div class="Para1">
            <p class="Account">Use your Fundoo Account</p>
        </div>
        <div class="Form-bar">
            <mat-form-field appearance="outline" class="Email-phone">
                <mat-label>Email or phone</mat-label>
                <input matInput formControlName="email" placeholder="Email or phone">
                <mat-error>Email required</mat-error>
            </mat-form-field>
        </div>

        <div class="forgotBtn">
            <a routerLink="/forgot-password">Forgot password?</a>
        </div>
        <div class="Form-bar2">
            <mat-form-field appearance="outline" class="PasswordForgot">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" placeholder="Password">
                <mat-error>Password required</mat-error>
            </mat-form-field>
        </div>

        <div class="resetBtn2">
            <a>Reset password?</a>
        </div>
        <div class="para2">
            <p>Not your computer? Use Guest mode to sign in privately.</p>
            <a class="learn">Learn more</a>
        </div>
        <div class=" footer-button">
            <button mat-button class="creatbtn" routerLink="/registration">Create account</button>
            <button mat-raised-button class="Nextbtn">Next</button>
        </div>
    </form>
</div>