.display-cards{
    margin: 70px;
    box-sizing: border-box;

}
.display-cards .mat-card{
    margin-bottom: 20px;
  
}
.mat-card app-icons{
  visibility: hidden;
}
.mat-card app-icons:hover{
    visibility: visible;
}
.mat-card{
    max-width: 550px;
    max-height: 650px;

}
// .mat-card app-icons:focus-visible{
//     visibility: visible;
// }