.body {
    padding: 1cm 0cm 1.5cm 0cm;
    //   border:rgb(223, 226, 10) 2px solid;

}

.mainContainer {
    padding: 1cm 0cm 1cm 0cm;
    border: rgba(128, 128, 128, 0.699) 0.1px solid;
    border-radius: 10px;
}

.container {
    padding: 1cm;
    //  border:rgb(223, 226, 10) 2px solid;

}

// LOGO
.logo {
    font-family: monospace;
    font-size: 24px;
    font-weight: 700;
}

.logo .L1 {
    color: #1A73E8;
}

.logo .L2 {
    color: red;
}

.logo .L3 {
    color: yellow;
}

.logo .L4 {
    color: #1A73E8;
}

.logo .L5 {
    color: green;
}

.logo .L6 {
    color: red;
}

.heading {
    font-size: 25px;
    font-weight: lighter;
    font-family: Arial;
    padding-top: 0.7cm;
}

.footerButton {
    display: flex;
    justify-content: space-between;
}

.fullname {
    margin-top: 0.7cm;
}

.insteadbtn {
    padding: 0.5cm 0cm 0.5cm 0cm;
}

.insteadbtn .mat-button {
    padding-left: 0cm;
}

.checkbox {
    margin-top: 0.5cm;
}

//Button
.footerButton {
    margin: 1.5cm 0cm 0.3cm 0cm;
}

.footerButton .mat-button {
    padding-left: 0%;
    border: none;
    background-color: white;
    color: #1A73E8;
    font-weight: bold;
    font-family: Arial;
}

.footerButton .mat-button:hover {
    background-color: lightblue;
}

.footerButton .mat-raised-button {
    background-color: #1A73E8;
    color: white;
}

.img-body {
    margin-top: 3cm;
    // border: black 2px solid;
}

.ImgPara1,
.ImgPara2 {

    font-size: 18px;
    color: gray;
}