<div class="mainContainer">
<form  [formGroup]="forgotPasswordForm">
    <div class="logo">
        <span class="L1">F</span>
        <span class="L2">u</span>
        <span class="L3">n</span>
        <span class="L4">d</span>
        <span class="L5">o</span>
        <span class="L6">o</span>
    </div>
    <div class="heading">
        <span class="head1">Find your password</span>

    </div>
    <div class="Para1">
        <p class="Account">Enter the email that you remember using with this<br> Fundoo Acoount</p>
    </div>
    <div class="Form-bar">
        <mat-form-field appearance="outline" class="Enter-email">
            <mat-label>Enter email</mat-label>
            <input matInput formControlName="password" placeholder="Enter email">
            <mat-error>Email required</mat-error>
        </mat-form-field>
    </div>
    
    <div class="Button">
        <button mat-button color="primary">Try another way</button>
        <button mat-raised-button color="primary">Next</button>
    </div>
 </form>
</div>   

