<div class="mainContainer">
<form>
    <div class="logo">
        <span class="L1">F</span>
        <span class="L2">u</span>
        <span class="L3">n</span>
        <span class="L4">d</span>
        <span class="L5">o</span>
        <span class="L6">o</span>
    </div>
    <div class="heading">
        <span class="sign-in">Account recovery</span>

    </div>
    <div class="Para1">
        <p class="Account">Enter the last password that you remember using with this<br> Fundoo Acoount</p>
    </div>
    <div class="Form-bar">
        <mat-form-field appearance="outline" class="last-password">
            <mat-label>Enter last password</mat-label>
            <input matInput placeholder="Enter last password">
        </mat-form-field>
    </div>
    <div class="Show-Password">
        <input type="checkbox" class="password-box">
        <label for="password-box"> Show Password</label>
    </div>

    <div class="Button">
        <button mat-button color="primary">Try another way</button>
        <button mat-raised-button color="primary">Next</button>
    </div>
 </form>
</div>   

